# ESP-IDF / CMake build output
build/

# ESP-IDF generated local config
# NHỚ: Việc bỏ qua sdkconfig sẽ tốt nếu bạn dùng file `sdkconfig.defaults`,
# còn chưa rành thì hãy để lại sdkconfig nha!
# sdkconfig
sdkconfig.old
dependencies.lock
managed_components/

# Python and cache artifacts
__pycache__/
*.pyc
.cache/

# Logs and temp files
*.log
*.tmp
*.swp
*~

# OS/editor noise
.DS_Store
Thumbs.db

# VS Code (team-friendly)
.vscode/*
!.vscode/settings.json
!.vscode/c_cpp_properties.json
!.vscode/extensions.json
